/*
This Theme for black background and blue text, example code in green.
Trying to mimic an enviroment like IDE. 
 */

 body {
    grid-template-areas: 
    " menu menu menu menu "
    " p p p p"
    " p p p p"
    " p p p p"
    " p p p p";
    height: 100vh;
    
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 15vh 20vh 20vh 20vh 25vh;

    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

    background-color: black;
    color: #3687b9;
    /* font-weight: bolder; */
}
.menu {
    grid-area: menu;
    width: 100vw;

    font-size: medium;
    padding: 1em 0em ;

    background: linear-gradient(90deg, aliceblue, #666666);
    background-clip: text;

}

#coding {
    grid-row: 1/2;
    grid-column: 1/2;
    border-right: 1px solid rgba(10,10,90,0.5);
}
#music {
    grid-row: 1/2;
    grid-column: 2/3;
    border-right: 1px solid rgba(10,10,90,0.5);
}
#blog {
    grid-row: 1/2;
    grid-column: 3/4;
    border-right: 1px solid rgba(10,10,90,0.5);
}
#aboutme {
    grid-row: 1/2;
    grid-column: 4/5;
}
.menu a {
    color: #d5f7aa;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin: 0px;
    border: 0px;
    padding: 0em 1em;
    background-clip: border-box;
}
.menu a:hover {
    background-color: rgba(200,200,10,0.9);

}
.menu a:visited {
    color: #3687b9;
}


.wrap-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.show_skills {
    grid-area: p;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.show_skills .show_text {
    padding-top: 5vh;
}

.linkedlogo {
    flex-direction: row;
    justify-content: space-evenly;

    padding-top: 5vh;
}
.linkedlogo img {
    
    height: 10vh;
    width: 10vh;
}

code {
    background: linear-gradient(225deg,#AAAAAA, #CCCCCC);
    width: 80vw;
}
pre {
    color: green;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bolder;
    font-size: x-small;

    padding-top: 2vh;
    line-height: 120%;

}

math {
    display: inline;
}