/* 
This Theme for black background and blue text, example code in green. Trying to mimic an enviroment like IDE. 
*/

body {
    background-color: black;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: #3687b9;
    display: grid;
    grid-template-areas: 
        "menu menu menu menu"
        "content content content content";
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 10%, 90%;
    width: 100vw;
}


nav .menu {
    grid-area: menu;

    width: 100vw;
    overflow: hidden;
    margin: 0px;
    border: 0px;
    padding: 1em 0em ;

    background-color: aliceblue;
    
}
#coding {
    grid-row: 1/2;
    grid-column: 1/2;
    border-right: 1px solid black;
    width: calc(25vw - 5px);

}
#music {
    grid-row: 1/2;
    grid-column: 2/3;
    border-right: 1px solid black;
    width: calc(25vw - 5px);

}
#blog {
    grid-row: 1/2;
    grid-column: 3/4;
    border-right: 1px solid black;
    width: calc(25vw - 5px);

}
#aboutme {
    grid-row: 1/2;
    grid-column: 4/5;
    width: calc(25vw - 5px);

}
.menu a {
    color: #3687b9;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin: 0px;
    border: 0px;
    padding: 0em 1em;
}
.menu a:hover {
    background-color: rgba(200,200,10,0.9);
    background-clip: padding-box;
    color: #3687b9;
}
.menu a:visited {
    color: #3687b9;
}

section {
    grid-area: content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.media_embed {
    grid-area: content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}